/*=================================== start__section =================================== */

.links a {
  padding: 20px;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.links a:hover {
  color: rgb(57, 145, 245);
}
.royalPark {
  display: flex;
  justify-content: center;
  align-items: center;
}
.royalPark p {
  font-size: 1rem;
  font-weight: bold;
}
.royalPark .photo1 {
  width: 100px;
}
/*=================================== footer__section =================================== */
.footer__section {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__section .ul li {
  margin-top: 48px;
  list-style-type: none;
}
.footer__section ul li {
  margin-top: 10px;
  list-style-type: none;
}
.footer__section .footer__icon {
  width: 100px;
}
.footer__section .footer__img {
  width: 100px;
  cursor: pointer;
}
.footer__section .email__input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__section a {
  text-decoration: none;
}
